<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Android SDK offline download links generator</title>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css"/>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=40573073" charset="UTF-8"></script>
</head>
<body ng-controller="controller" class="ui container" style="margin:20px;">
<a href="https://github.com/derekhe/android-sdk-offline">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
</a>

<h1>Android SDK offline download links generator</h1>

<div class="ui message">
    <p>This tool help to you generate latest offline down links for Android SDK. This is helpful when you don't have
        internet
        access or speed is low.</p>

    <p>You can use your favorite download tool to download them. Then put these downloaded files into sdk/temp folder
        and open Android SDK Manager. Click the items in Android SDK Manager, it will read from your downloaded
        cache.</p>

    <p>If your can't get the Android SDK Manager items or if they are not update, or the download speed is slow, please
        try to use the <a href="http://www.androiddevtools.cn/">proxy listed here</a>.</p>

    <p>Data updated: {{sdk.updated}}</p>
    <h1>
    <a href="https://m.do.co/c/4bc532e3ef94">SUPPORT ME BY DIGITALOCEAN</a>
    </h1>
</div>

<div class="ui segment">
    <h3>Options</h3>

    <div class="ui checkbox">
        <input type="checkbox" ng-model="showObsolete">
        <label>Show Obsolete Packages (red color)</label>
    </div>

    <div class="ui">
        <div class="ui checkbox">
            <input type="checkbox" ng-model="os.windows">
            <label>Windows</label>
        </div>

        <div class="ui checkbox">
            <input type="checkbox" ng-model="os.macosx">
            <label>Mac</label>
        </div>

        <div class="ui checkbox">
            <input type="checkbox" ng-model="os.linux">
            <label>Linux</label>
        </div>
    </div>
</div>

<div class="ui form segment">
    <div class="field">
        <h3>Download links</h3>
        <textarea ng-bind="getDownloadLinks()"></textarea>
    </div>
</div>

<div class="ui segment">
    <h3>
        Tools
    </h3>
    <table class="ui small celled blue table">
        <tbody>
        <tr ng-repeat="item in ::sdk.tools | filter: showObsoleteFn | orderBy:version:true"
            ng-class="{negative: item.obsolete}">
            <td class="six wide">
                <div class="ui checkbox">
                    <input type="checkbox" ng-change="changeDownloadLink(item)" ng-model="item.download">
                    <label>
                        {{::item.description}}
                    </label>
                </div>
            </td>
            <td class="two wide">
                {{::item.version}}
            </td>
            <td class="two wide">
                <div ng-repeat="archive in item.archives[0].archive" ng-show='os["{{getOS(archive)}}"]'>
                    <a href="{{archive.url}}">
                        <i class="download icon"></i>
                        <span>{{getOS(archive)}}</span>
                        <span>{{archive.size | bytes}}</span>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="ui segment">
    <h3>
        SDK
    </h3>

    <div ng-repeat="level in sdk.apis | orderBy:apiLevel:true" class="ui segment">
        <div class="ui checkbox">
            <input type="checkbox" ng-change="selectLevel(level)" ng-model="level.download">
            <label><h4>API level {{level.apiLevel}}</h4></label>
        </div>
        <table class="ui small celled blue table">
            <tbody>
            <tr ng-repeat="item in level.items | filter: showObsoleteFn" ng-class="{negative: item.obsolete}">
                <td class="six wide">
                    <div class="ui checkbox">
                        <input type="checkbox" ng-change="changeDownloadLink(item)" ng-model="item.download">
                        <label>
                            {{::item.description}}
                        </label>
                    </div>
                </td>
                <td class="two wide">
                    {{item.version}}
                </td>
                <td class="two wide">
                    <div ng-repeat="archive in item.archives[0].archive">
                        <a href="{{archive.url}}">
                            <i class="download icon"></i>
                            <span>{{getOS(archive)}}</span>
                            <span>{{archive.size | bytes}}</span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ui segment">
    <h3>
        Extras
    </h3>
    <table class="ui small celled blue table">
        <tbody>
        <tr ng-repeat="item in ::sdk.extras | filter: showObsoleteFn | orderBy:version:true"
            ng-class="{negative: item.obsolete}">
            <td class="six wide">
                <div class="ui checkbox">
                    <input type="checkbox" ng-change="changeDownloadLink(item)" ng-model="item.download">
                    <label>
                        {{::item.description[0]}}
                    </label>
                </div>
            </td>
            <td class="two wide">
                {{::item.version}}
            </td>
            <td class="two wide">
                <div ng-repeat="archive in item.archives[0].archive" ng-show='os["{{getOS(archive)}}"]'>
                    <a href="{{archive.url}}">
                        <i class="download icon"></i>
                        <span>{{getOS(archive)}}</span>
                        <span>{{archive.size | bytes}}</span>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
