[project]
	description = Generate Android sdk offline download links.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hesicong (derekhe)
[access "refs/for/refs/*"]
	read = group user/hesicong (derekhe)
	push = group user/hesicong (derekhe)
	label-Code-Review = -2..+2 group user/hesicong (derekhe)
	label-Verified = -1..+1 group user/hesicong (derekhe)
	rebase = group user/hesicong (derekhe)
	removeReviewer = group user/hesicong (derekhe)
	submit = group user/hesicong (derekhe)
[access "refs/heads/*"]
	read = group user/hesicong (derekhe)
	create = group user/hesicong (derekhe)
	push = +force group user/hesicong (derekhe)
	pushMerge = group user/hesicong (derekhe)
[access "refs/tags/*"]
	push = group user/hesicong (derekhe)
	push = +force group user/hesicong (derekhe)
