<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Android SDK Offline download links generator</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/dist/semantic.min.css"/>
</head>
<body ng-controller="controller" class="ui container">
<div class="ui segment">
    <div class="ui message">
        <h2>Options</h2>
        <div class="ui checkbox">
            <input type="checkbox" ng-model="showObsolete">
            <label>Show Obsolete Packages (red color)</label>
        </div>

        <div>
            <div class="ui checkbox">
                <input type="checkbox" ng-model="os.windows">
                <label>Windows</label>
            </div>

            <div class="ui checkbox">
                <input type="checkbox" ng-model="os.macosx">
                <label>Mac</label>
            </div>

            <div class="ui checkbox">
                <input type="checkbox" ng-model="os.linux">
                <label>Linux</label>
            </div>
        </div>
    </div>
</div>
<div class="ui segment">
    <h2>
        Tools
    </h2>
    <table class="ui small celled blue table">
        <tbody>
        <tr ng-repeat="item in ::sdk.tools | filter: showObsoleteFn | orderBy:version:true"
            ng-class="{negative: item.obsolete}">
            <td class="six wide">
                {{::item.description}}
            </td>
            <td class="two wide">
                {{::item.version}}
            </td>
            <td class="two wide">
                <div ng-repeat="archive in item.archives[0].archive" ng-show='os["{{getOS(archive)}}"]'>
                    <a href = "{{archive.url}}">
                    <i class="download icon"></i>
                    <span>{{getOS(archive)}}</span>
                    <span>{{archive.size | bytes}}</span>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="ui segment">
    <h2>
        SDK
    </h2>

    <div ng-repeat="level in sdk.apis | orderBy:apiLevel:true" class="ui segment">
        <h4>API level {{level.apiLevel}}</h4>
        <table class="ui small celled blue table">
            <tbody>
            <tr ng-repeat="item in level.items | filter: showObsoleteFn" ng-class="{negative: item.obsolete}">
                <td class="six wide">
                    {{item.description}}
                </td>
                <td class="two wide">
                    {{item.version}}
                </td>
                <td class="two wide">
                    <div ng-repeat="archive in item.archives[0].archive">
                        <a href = "{{archive.url}}">
                            <i class="download icon"></i>
                            <span>{{getOS(archive)}}</span>
                            <span>{{archive.size | bytes}}</span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>